@model List<Filme>
@using LocadoraDeFilmes.Models

<a class="btn btn-outline-dark" asp-controller="Filme" asp-action="Create">Criar um novo Filme</a>
<br />
<br />
<h1>Lista de Filmes</h1>
<br />

<form asp-controller="Filme" asp-action="Buscar">
    <input type="text" name="id" />
    <input width="100" class="btn btn-outline-dark" type="submit" value="Procurar" />
</form>
<br />

@if (Model.Count() > 10)
{
    <center><h2>Filme cadastrado com sucesso.</h2></center>
    <br />
}


 

<table class="table">
    <thead>
        <tr>
            <th class="table-dark" scope="col">@Html.DisplayNameFor(Model => Model.First().Id)</th>
            <th class="table-dark" scope="col">@Html.DisplayNameFor(Model => Model.First().Nome)</th>
            <th class="table-dark" scope="col">@Html.DisplayNameFor(Model => Model.First().Lancamento)</th>
            <th class="table-dark" scope="col">@Html.DisplayNameFor(Model => Model.First().Duracao)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Filme f in Model)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(Model => f.Id)</th>
                <td>@Html.DisplayFor(Model => f.Nome)</td>
                <td>@Html.DisplayFor(Model => f.Lancamento)</td>
                <td>@Html.DisplayFor(Model => f.Duracao)</td>
            </tr>

        }
    </tbody>
</table>

<div class="card" style="width: 18rem;">
    <div class="card-header">
        Informações gerais:
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Quantidade de filmes: @Model.Count()</li>
        <li class="list-group-item">Duração total de todos os filmes: </li>
        <li class="list-group-item">Nome do filme com lançamento mais recente: </li>
        <li class="list-group-item">Nome do filme mais caro: </li>
    </ul>
</div>