@model Consulta

@if(Model == null)
{
    <h1>CONSULTA NÃO EXISTE</h1>
    <a asp-action="Index">Voltar</a>
}
else { 

<h1>Visualizando consulta @Model.Id</h1>


<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.Id)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(Model => Model.Id)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.DataHora)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(Model => Model.DataHora)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.paciente.Nome)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(Model => Model.paciente.Nome)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.Descricao)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(Model => Model.Descricao)</dd>
</dl>
}