@model Remedio
<br />
<br />
<br />
<br />

<h1>Remédio de registro @Html.DisplayFor(Model => Model.Id)</h1>

@Html.DisplayNameFor(Model => Model.Id)
@Html.DisplayFor(Model => Model.Id)

@Html.DisplayNameFor(Model => Model.Nome)
@Html.DisplayFor(Model => Model.Nome)

@Html.DisplayNameFor(Model => Model.Fabricante)
@Html.DisplayFor(Model => Model.Fabricante)

@Html.DisplayNameFor(Model => Model.Preco)
@Html.DisplayFor(Model => Model.Preco)

@Html.DisplayNameFor(Model => Model.Quantidade)
@Html.DisplayFor(Model => Model.Quantidade)
