@model Paciente

@if (Model == null)
{
    <h1>PACIENTE NÃO EXISTE</h1>
    <a asp-action="Index">Voltar</a>
}
else
{

    <h1>Visualizando paciente @Model.Id</h1>


    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.Id)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(Model => Model.Id)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.Nome)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(Model => Model.Nome)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.Nascimento)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(Model => Model.Nascimento)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(Model => Model.Descricao)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(Model => Model.Descricao)</dd>
    </dl>

    @if (Model.Consultas.Count > 0)
    {
        <h3>Consultas:</h3>
        @foreach(Consulta c in Model.Consultas)
        {
            <p><strong>@Html.DisplayFor(x => c.DataHora)</strong>: @Html.DisplayFor(x => c.Descricao)</p>
        }
    }
}